html {
    display: table;
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    padding: 50px 25px;
    background-color: #fcfcfc;
    line-height: 0;
    position: relative;
    font-family: Arial;
}
body.is-loading:after {
    content: 'Loading data...';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -10px;
    text-align: center;
}
svg {
    display: inline-block;
    outline: 1px solid #ddd;
    background-color: #fff;
}